<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.act.dao.HelloDao">

    <resultMap id="BaseResultMap" type="cn.com.act.po.ActivityPo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="scheme_id" jdbcType="BIGINT" property="scheme_id"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="start_time" jdbcType="INTEGER" property="start_time"/>
        <result column="end_time" jdbcType="INTEGER" property="end_time"/>
        <result column="context_id" jdbcType="BIGINT" property="context_id"/>
        <result column="scene_id" jdbcType="CHAR" property="scene_id"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="rel_id" jdbcType="BIGINT" property="rel_id"/>
        <result column="cover" jdbcType="VARCHAR" property="cover"/>
    </resultMap>

    <insert id="generateActivitys" useGeneratedKeys="true" keyProperty="id">
        insert into activity (id, name, state, start_time, end_time, context_id, scene_id, cover)
        values
        <foreach collection="list" item="it" separator=",">
            (
                #{it.id,jdbcType=BIGINT},
                #{it.name,jdbcType=VARCHAR},
                #{it.state,jdbcType=INTEGER},
                #{it.start_time,jdbcType=INTEGER},
                #{it.end_time,jdbcType=INTEGER},
                #{it.context_id,jdbcType=BIGINT},
                #{it.scene_id,jdbcType=BIGINT},
                #{it.cover,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <insert id="generateItems" useGeneratedKeys="true" keyProperty="item_id">
        insert into item (item_id, name, total, qty, type, create_time, modify_time, rel_type, rel_id)
        values
        <foreach collection="list" item="it" separator=",">
            (
                #{it.item_id,jdbcType=BIGINT},
                #{it.name,jdbcType=VARCHAR},
                #{it.total,jdbcType=INTEGER},
                #{it.qty,jdbcType=INTEGER},
                #{it.type,jdbcType=INTEGER},
                #{it.create_time,jdbcType=INTEGER},
                #{it.modify_time,jdbcType=INTEGER},
                #{it.rel_type,jdbcType=INTEGER},
                #{it.rel_id,jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <insert id="generateSchemes" useGeneratedKeys="true" keyProperty="scheme_id">
        insert into scheme (type, scheme_id, rel_type, rel_id)
        values
        <foreach collection="list" item="it" separator=",">
            (
                #{it.type,jdbcType=INTEGER},
                #{it.scheme_id,jdbcType=BIGINT},
                #{it.rel_type,jdbcType=INTEGER},
                #{it.rel_id,jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <insert id="generateScenes" useGeneratedKeys="true" keyProperty="id">
        insert into scene (scene, param)
        values
        <foreach collection="list" item="it" separator=",">
            (
                #{it.scene,jdbcType=CHAR},
                #{it.param,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <insert id="generateContexts" useGeneratedKeys="true" keyProperty="id">
        insert into context (context)
        values
        <foreach collection="list" item="it" separator=",">
            (
                #{it.context,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
</mapper>